.wrapper {
    //add scrollbar (https://www.youtube.com/watch?v=3dit5NJVxMU&list=PL_-VfJajZj0UXjlKfBwFX73usByw3Ph9Q&index=75 10:28)
    display: flex;
    flex-direction: column;

    width: 100%;
    max-height: min((100vh - 96px) - 60px, 734px);
    min-height: 100px;
    padding-top: 8px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
}

.menu-popper {
    padding-bottom: 8px;
}
